@model Supplier

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutLIn.cshtml";
}

@section one{}
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/user.css" />
  <title>Sign Up</title>
</head>
<body>
  <div class="mainBox">
      <div class="darkFilter"></div>
          <div class="mainBord">
            <h2 style="color: white;">Delete Supplier</h2>
            <form action="/Supplier/delete/@Model.SupplierId" method="post">
                <table class="table" style="color: white;">
                    <tr>
                        <td>
                            <label for="CompanyName">Company Name</label>
                        </td>
                        <td>
                            <input type="hidden" name="SupplierId" value="@Model.SupplierId" />
                            @Model.CompanyName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="PhoneNumber">Phone Number</label>
                        </td>
                        <td>
                            @Model.PhoneNumber
                        </td>
                    </tr>
                </table>

                <div style="color: white;">Are you sure to delete this product?</div>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a class="btn btn-warning" href="/supplier/index">Cancel</a>
            </form>
          </div>
  </div>
</body>
</html>
