@model StockInventory.ViewModel.ProductAndSupplier
@{
    ViewData["Title"] = "CreatePurchase";
    Layout = "~/Views/Shared/_LayoutLIn.cshtml";
}

@section one{}

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/user.css" />
  <title>Sign Up</title>
  <style>
    .formInfo{
        grid-column: 20/34;
        grid-row: 3/36;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }
    .wdtFull{
        width: 100%;
    }

    .info{
        display: grid;
        grid-template-columns: repeat(40, 1fr);
        grid-template-rows: repeat(40, 1fr);
        border: 1px solid #aaa;
        box-shadow: 0 2px 15px #aaa;
        border-radius: 10px;
    }

    .productInfo{
        margin-bottom: 5px;
    }

    .info > h1{
        grid-column: 2/40;
        grid-row: 2/9;
        color: white;
    }
    .info > div{
        border-top:1px solid #ddd;
        grid-column: 2/40;
        grid-row: 12/40;
        color: white;
        overflow: scroll;
        overflow-x: hidden;
    }

    .productInfo{
        width: 100%;
        height: 50%;
    }
    .supplierInfo{
        width: 100%;
        height: 50%;
    }
  </style>
</head>
<body>
  <div class="mainBox">
      <div class="darkFilter" style="grid-row: 2/37; grid-column: 8/35; box-shadow: 0 2px 15px #666;"></div>
          <div class="mainBord" style="grid-row:3/36; grid-column: 9/19">
            <form action="/Transaction/CreatePurchase" method="post">
                <div class="form-group wdtFull">
                    <label for="ProductId" style="color: white;">Product Id</label>
                    <input type="number" class="form-control" id="ProductId" name="ProductId" placeholder="Product Id">
                </div>
                <div class="form-group wdtFull">
                    <label for="SupplierId" style="color: white;">Supplier Id</label>
                    <input type="number" class="form-control" id="SupplierId" name="SupplierId" placeholder="Supplier Id">
                </div>
                <div class="form-group wdtFull">
                    <label for="Price" style="color: white;">Price</label>
                    <input type="number" class="form-control" id="Price" name="Price" placeholder="Price">
                </div>
                <div class="form-group wdtFull">
                    <label for="PurchasedQuantity" style="color: white;">Purchased Quantity</label>
                    <input type="number" class="form-control" id="PurchasedQuantity" name="PurchasedQuantity" placeholder="Purchased Quantity">
                </div>
                <button type="submit" class="btn btn-success">Create</button>
                <a class="btn btn-danger" href="/Transaction/index">Cancel</a>
            </form>
          </div>
          <div class="formInfo">
              <div class="productInfo info">
                 <h1>Product</h1>
                 <div>
                    <table class="table" style="color: white;">
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                        </tr>
                        @foreach(var item in Model.Prodcut)
                        {
                              <tr>
                                  <td>@item.ProductId</td>
                                  <td>@item.ProductName</td>
                              </tr>
                        }
                    </table>            
                </div>
              </div>
              <div class="supplierInfo info">
                  <h1>Supplier</h1>
                  <div>
                      <table class="table" style="color: white;">
                         <tr>
                             <th>Product ID</th>
                             <th>Product Name</th>
                         </tr>
                         @foreach(var item in Model.Supplier)
                         {
                               <tr>
                                   <td>@item.SupplierId</td>
                                   <td>@item.CompanyName</td>
                               </tr>
                         }
                     </table> 
                 </div>
              </div>
          </div>
  </div>
</body>
</html>



