@{
    ViewData["Title"] = "Learn More";
}

@section one{}
<div style="background: white; opacity: 70%;">
    <div class="container p-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">More about SIM</h1>
                <hr />
                <p class="text-muted">
                    <i></i>SIM is an inventory management system that assists businesses in determining what stock to add; when to add it, and in what quantity. It helps ensure that there is rarely too much or too little product in stock. We take our service very seriously, as inventory management is essential to a company's health by reducing the risk of stockouts and inaccurate records.</i>
                </p>
                <p class="text-muted">
                    <i></i>In addition to all the basic features, we have also introduced a feature that notifies you, our beloved customer, when a stock is nearly empty, so you do not have to worry about running out of stock without realizing it.</i>
                </p>
                <p class=" lead text-muted"><i>Thank you for choosing to work with us.</i></p>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
            <img src="/illus.png" alt="" class="img-fluid">
            <a class="btn btn-outline-primary float-right mt-3" asp-controller="Home" asp-action="Index">Back To Home</a>
            </div>
        </div>
    </div>
</div>