@model User
@{
    ViewData["Title"] = "LoggedIn";
    Layout = "~/Views/Shared/_LayoutLIn.cshtml";
}

@section one{
    <a href="/Home/AccountSetting" class="btn btn-primary">@Model.UserName</a>
}

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/user.css" />
  <title>Sign Up</title>
  <style>
    .mainBord{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h4{
        color: white;
    }
  </style>
</head>
<body>
  <div class="mainBox">
      <div class="darkFilter"></div>
          <div class="mainBord">
              <h2 style="color: white;">Welcome, @Model.FirstName @Model.LastName.</h2>
              <h4>Here, you may more effectively manage your store.</h4>
              <h4>To Know more about us</h4><a class="btn btn-outline-primary" asp-controller="Home" asp-action="LearnMore">Learn More</a><h4>Thanks for choosing us!</h4>

          </div>
  </div>
</body>
</html>

